<div>
    <h1>Lets send it off</h1>
    <p class="lead">
    Send off the newsletter you created using a Gmail account.
    </p>

    <form ng-submit="sendNewsletter()">
        <div class="form-group">
            <label for="fromEmail">Sender Gmail Email</label>
            <input id="fromEmail" class="form-control" type="email" placeholder="Gmail Email" ng-model="newsletter.fromEmail">
            <label for="fromPassword">Sender Gmail Password</label>
            <input id="fromPassword" class="form-control" type="password" placeholder="Gmail Password" ng-model="newsletter.fromPassword">
        </div>
        <div class="form-group">
            <label for="toEmail">Receiver Email</label>
            <input id="toEmail" class="form-control" type="email" placeholder="Destination Email" ng-model="newsletter.toEmail">
        </div>
        <button class="btn btn-primary btn-lg">Send Newsletter</button>
    </form>
</div>
